{% extends 'base.html' %}

{% block content %}
<h1>Product Description</h1>

<div class="card mb-3" style="max-width: 100vw;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image_url }}" class="card-img-top" alt="..." style="width: 25vw; height: 25vw; object-fit: cover;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">${{ product.price }}</p>
        <p class="card-text">Food Fact: {{ product.fact }}</p>
        <br/>ID: {{ product.id }}<br/><br/>
        <button type="button" value="{{ product.id }}" class="btn btn-primary" id="add-cart">Add to Cart</button>
        <a class="btn btn-outline-primary" href="/products" type="submit">Back to Products</a>
      </div>
    </div>
  </div>
</div>

<script>
// Check if button pressed
$(document).on('click', '#add-cart', function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '{% url 'cart_add' %}',
    data: {
      product_id: $('#add_cart').val(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post',
    },

    success: function(json){
      console.log(json)
    },

    error: function(xhr, errmsg, err){
    },

  });
}
</script>

{% endblock %}